Body
{
	margin:0;
	background-color: #FFFFFF;
	font-family: Calibri,Arial, Helvetica;
	font-size: small;
	font-style: normal;
	color: #091c5a;	
}

Selectff
{
	font-family:Calibri,Arial, Helvetica;
	font-size:small;
	color:#091c5a;
}
	
.TopColor 
{
	background-color: White;
}
.LeftColor 
{
	background-color: #b5b4b4; 
}
.MenuColor {
	background-color: #0ea440;
}
.MenuPeqColor {
	background-color: White;
}
.MenuBTNColor {
	background-color: #db111e;
}
.TitleFont 
{
	font-family: Calibri,Arial, Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
}
.DefaultFont {
	font-family: Calibri,Arial, Helvetica;
	font-size: 10px;
	font-style: normal;
	color: #091c5a;
}

.BackgroundColor
{
	background-color: #FFFFFF;
	font-family: Calibri,Arial, Helvetica;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
}

.TablaMenu
{
	width:100%;
	height:100%;
	background-color:#ffd100;
    font-weight:bold;
    font-size:large;
	text-align:center;
}

.TablaMenu a:link
{
	font-weight:bold;
    font-size:large;
    color: #091c5a;
    text-decoration:none;
}

.TablaMenu a:visited
{
	font-weight:bold;
    font-size:large;
    color: #091c5a;
    text-decoration:none;
}

.TablaMenu a:hover
{
	font-weight:bold;
    font-size:large;
    color: #5C88C9 ;
    text-decoration:none;
}

.CeldaIzquierdaMenu_Selected
{
	width:27px;
	background-image:url('images/esq_izq_amarilla.jpg');
	background-position:right;
	background-repeat:no-repeat;
}
	
.CeldaCentralMenu_Selected
{
	width:130px;
	color: #091c5a;
	background-image:url('images/central_amarilla.jpg');
	background-position:right;
	background-repeat:repeat-x;
}

.CeldaCentralMenu_Selected a:hover
{
	color: white;
	text-decoration:none;
}

.CeldaDerechaMenu_Selected
{
	width:27px;
	background-image:url('images/esq_der_amarilla.jpg');
	background-position:left;
	background-repeat:no-repeat;
}

.CeldaIzquierdaMenu_Unselected
{
	width:27px;
	background-image:url('images/esq_izq_blanca.jpg');
	background-position:right;
	background-repeat:no-repeat;
}
	
.CeldaCentralMenu_Unselected
{
	width:130px;
	color: #091c5a;
	background-image:url('images/central_blanca.jpg');
	background-position:right;
	background-repeat:repeat-x;
}

.CeldaDerechaMenu_Unselected
{
	width:27px;
	background-image:url('images/esq_der_blanca.jpg');
	background-position:left;
	background-repeat: no-repeat;
}

.SeparadorMenu
{
	
}

.BarraLateral_Tabla
{
	color: #091c5a;
	font-size:small;
	width:100%;
}

.BarraLateral_Tabla a:link, a:visited
{
	color: #091c5a;
	font-size:small;
	text-decoration:none;
}

.BarraLateral_Tabla a:hover
{
	color: #091c5a;
	font-size:small;
	text-decoration: underline;
}

Select.BarraLateral_Tabla
{
	color: #091c5a;
	font-size:small;
}

.BarraLateral_Encabezado
{
	color: #091c5a;
	font-size:Large;
	font-weight:bold;
}

/********* Tooltips *********************/
table.Tooltip_Table
{
    background-color:white;
    font-family:arial;
    background-image:url('images/Tooltip_background_naranja.jpg');
    background-position:right;
    background-repeat:repeat-y;
    border:solid 1px black;
    padding:0;
}

td.Tooltip_Title
{
     text-align:center;
     font-weight:bold;
     font-size:10pt;
     color:White;
     background-color:Black;
}

td.Tooltip_Category_Title
{
     font-weight:bold;
     font-size:8pt;
     color:white;
     background-color:#FCAC36;
}
    
td.Tooltip_Filter_Name
{
   text-align:Left;
     font-weight:bold;
     font-size:8pt;
     color:black;
     background-color:transparent;
}

td.Tooltip_Filter_Value
{
     font-weight: normal;
     font-size:8pt;
     color:black;
     background-color:transparent;
}

td.Tooltip_Selected_Name
{
    text-align:Left;
     font-weight:bold;
     font-size:10pt;
     text-decoration:underline;
     color:black;
     background-color:transparent;
}

td.Tooltip_Selected_Value
{
     font-weight: bold;
     font-size:10pt;
     text-decoration:underline;
     color:black;
     background-color:transparent;
}


.TextBoxValues
{
	font-family:Calibri,Arial, Helvetica;
	font-size:small;
	color: #091c5a;
	text-align:center;
}

.divTitulos
{
	overflow:hidden;	
	height:35px;
}

td.valorCampoFormulario
{
	background-color:white;	
	border: solid 1px #9E949C;
}



/********* controles *********************/
.botonimagen
{
 background: url(../images/bg_boton.jpg) repeat;
 background-position:center;
 border: solid 1px;
 border-color:Gray;
 height:25px;
 font-size:8pt;
 text-align:left;
 color: #fff;
}

.Estilo_Boton
{
 background: url(../images/bg_boton.jpg) repeat;
 background-position:center;
 border: solid 1px;
 border-color:Gray;
 height:25px;
 font-size:8pt;
 color: #fff;
}


.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=50);
	opacity: 0.50;
}



.updateProgress
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	position: absolute;
	width: 180px;
	height: 65px;
}

/* ========================================================== 
 (04) GRIDVIEW freazer
============================================================ */
.GridHeader
{ 
 background: url(../images/bg_boton.png) repeat;
 color: white; 
 /*position: relative;*/ 
 font-weight: bold;
 font-family: Verdana,Calibri,Arial;  
 font-size: 10px;
 height: 32px;
 width: 992px;
}

.GridRow
{ 
 color: #000000;
 font-family: Verdana,Calibri,Arial; 
 background-color: #ededed; 
 font-size: 10px;
 margin-top: 3px;
}


.GridAlternateRow
{ 
 color: #000000;
 font-family: Verdana,Calibri,Arial;  
 background-color: #DCDCDC; 
 font-size: 10px;
}

/* ========================================================== 
 (05) Menu
============================================================ */

.staticMenuItemStyle 
{
 display:block;
 color:#ababab;
 padding-right:8px; 
 line-height:27px;
 text-decoration:none;
 background: url(../images/bg_boton.jpg) repeat;
 background-position:center;
 border: solid 1px;
 border-color:Gray;
}

.staticMenuItemSelectedStyle {
 text-decoration:underline;
}

.staticHoverStyle {
 color:#FFFFFF;
 background: url(../images/bg_toolbar.png) repeat;
}


.dynamicMenuItemStyle 
{
 font-family:"Noticia Text", georgia,arial,verdana;
 font-size:14px;
 z-index:200;
 position:relative;
 padding:5px 15px 5px 15px;
 margin:0;
 -moz-box-shadow: 1px 1px 4px #000;
 -webkit-box-shadow: 1px 1px 4px #000;
 border-top:1px dotted #464646; 
 border-bottom:1px dotted #131313; 
 text-shadow: 0px 1px 0px #000;
 background: url(../images/bg_boton.jpg) repeat;
 background-position:center;
 border: solid 1px;
 border-color:Gray;
 color:#ababab;
 }
 
.menuItem {
display:block;
}

.NavigationMenu {
 font-family:"Noticia Text", georgia,arial,verdana;
 font-size:13px;
 color:#ffffff;
 z-index: 25;
 float:right;
}

.menuItemMouseOver,.menuItemSelected {
 color:#ffffff;
 background: url(../images/bg_toolbar.png) repeat;
}



/* ========================================================== 
 Jose Moya, Estilo para el icono de notificaciones
============================================================ */

#noti_Container {
    position:relative;     /* This is crucial for the absolutely positioned element */
   /*  border:1px solid blue; This is just to show you where the container ends */
    width:28px;
    height:28px;
}
.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -6px;
    right:-6px;
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:18px;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

/* ========================================================== 
 FIN
============================================================ */

